* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    margin-top: 10px;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    padding: .5rem;
}

header,
main,
footer {
    max-width: 850px;
    margin: auto;
}

header,
footer {
    background-color: #05445E;
    color: white;
    text-shadow: 3px 3px 3px #bfbec5;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 5px #bfbec5;
}

header {
    border: 1px solid #bfbec5;
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: center;
}

header img {
    max-width: 100%;
    padding: 1rem;
}

main {
    display: grid;
    padding: .5rem;
}

ul {
    padding: 2rem 3rem;
    color:  #05445E;
}


h2 {
    padding: 10px;
    text-shadow: 3px 3px 3px #bfbec5;
    color:  #05445E;
}

h1 {
    font-family: Oswald, serif;
    letter-spacing: 4px;
    font-weight: 400;
    text-shadow: 3px 3px 3px #bfbec5;
    text-align: center;   
}

a {
    color: #05445E;
    text-decoration: none;
}
p {
    padding-left: 10px;
}

footer {  
    padding: 1rem; 
}
@media screen and (max-width: 450px) {
    header,
    footer {
      display: block;
    }
}
