@media screen and (min-width: 45em) {
    body {
      max-width: 70em;
    }
  .logo-box {
    font-size: larger;
  }
    .map {
      grid-column: 2;
    }
  
    .contact-button {
      grid-column: 3;
      grid-row: 1/2;
    }
  
    .social {
      grid-column: 4;
      grid-row: 1/2;
    }
  
    /* footer */
  
    .info-footer p {
      display: inline;
    }
    /* services page */
    .offerings {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .offerings img {
      width: 100%;
      border-radius: 5px;
    }
  }