@media screen and (min-width: 34em) {

    .navigation {
      display: flex;
    }
  
    .navigation li {
      display: inline-block;
      flex: 1 1 auto;
      border-bottom: none;
    }
  
    .navigation li:nth-child(1) {
      display: none;
    }
  
    /* hero section */
    .action-call {
    position: absolute;
    left: 5px;
    top: 5px;
    }
  
    /* temple section */
  
    .temple {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
  
    /* weather  */
    .weather {
      
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      
    }
  
    .forecast {
      border-top: none;
      border-left: 2px solid #2c2626;
      width: 100%;
    }
  
    /* footer */
  
    .contact-footer {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      
    }
  
    .contact, .map {
      grid-column: 1;
      
    }
  
    .contact-button {
      grid-column: 2;
      grid-row: 2/3;
    }
  
    .social {
      grid-column: 2;
      grid-row: 1/2;
    }
    
    .info-footer p {
      display: inline;
    }
  
    .small {
      display: contents;
    }
  }