@media screen and (min-width: 32.5em) {
  header,
  footer { border-radius: 10px;
  }

  h1 {
     font-size: 5rem;   
  }
  
  h2{
      font-size: 2rem;
  }
  h3{
      font-size: 2rem;
  }
  main {
    grid-template-columns: 1fr 1fr;
  }
  section:nth-of-type(3){
      grid-column: span 2;
  }
  section {
    padding: .7em;
  }
  header img {
      box-shadow: 0 0 30px #444;
      float: right;
      border-radius: 0 10px 0 0;

  }

}