body {
    height:100
  }
  
  header,
  footer {
    display:block;
    text-align: center;
    color: white;
    background-color:rgb(111, 206, 220);
    padding: 1px;
    margin: 0;
  }
  
  h2 {
    background-color:rgb(111, 206, 220);
    color: white;
    border-radius: 5px 5px 0 0;
    margin: auto 0;
    padding: 5px;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    width: auto;
  }
  
  section {
    padding: 1em;
  }
  
  img {
    padding: 1em 0;
    display: block;
    width: 100%;
    height: auto;
  }
  
  div {
    padding: 0.75em;
    border: black solid 1px;
    background-color:white;
  }
  
  