*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
    font-family: Oswald, serif; 
    font-size: 16px;
    padding: 0.5rem;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #D4F1F4;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Quicksand, sans-serif;
    color: #189AB4;
    margin: 0;
    padding: 0.8rem;
}

h1{
    color: #05445E;
    font-family: Oswald, serif;
}
header,
footer {
    background-color: white;
    flex-flow: column;
    padding: 0.5rem;
    text-align: center;
    color: #05445E;
    font-family: Oswald, serif;
  }

header{
  display: grid; grid-template-columns: auto auto auto auto; grid-template-rows: auto auto;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.logo img {
    width: 80px;
    height: auto;
    padding: 1rem;
}

header img{
    width: 1px;
    height: auto;
}
.heading {
    display: grid;
    grid-template-columns: 90px auto;
    align-items: center;
}
.headings{
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
}

.headings h1{
    font-size: 1.6 rem;
    margin: 0 0 0 17px;
    padding: 1rem;
}
.m {
    font-style: italic;
    color: #189AB4;
    font-weight: 700;
}
.social {
    grid-column: 3;
    
}

.social a {
    display: inline-block;
}
.social svg{
    width: 25px;
    height: auto;
}
.date aside{
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0.75rem;
    background-color: #189AB4;
}

.home {
  display: grid;
  grid-gap: 0.75rem;
  padding: 0.5rem;
}
.placeholderBoxHero, .placeholderBoxEvent, .placeholderBoxEvent, .placeholderBoxWeather, .placeholderBoxJoin, .placeholderBoxSpotlight1, .placeholderBoxSpotlight2, .placeholderBoxSpotlight3{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center
}
  
.assignmentFooter {
    border-top: 1px solid grey;
    font-size: 0.75rem;
  }
  
  .hero img {
    width: 100%;
    height: auto;
  }
  
  .hero h3 {
    color: white;
    padding: 0;
  }
  
  .hero {
    position: relative;
  }
  
  .join a:hover {
    background-color: white;
    color: rgba(45, 49, 66, 0.8);
    border: 2px solid rgba(45, 49, 66, 1);
    padding: 8px;
    border-radius: 15px;
  } 
  
.directoryBox,
.placeholderBox {
  border: 1px solid rgba(20, 0, 140, 1);
  background-color: rgba(234, 232, 255, 1);
  padding: 5px;
  text-align: center;
}
.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation li {
    display: none;
  }
  
  .navigation a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: rgb(45 49 66);
    padding: 0.8em;
  }
  
  .navigation a:hover {
    color: white;
    background-color: rgba(115, 128, 185, 1);
  }
  
  .today {
    text-align: center;
    padding: 0.6em;
    background-color: rgba(176, 215, 255, 0.5);
    border: 1px solid rgba(191, 190, 197, 0.8);
    max-width: 69em;
    margin: 0 auto;
  }
  
  /* Hamburger button */
  .hambugerBtn {
    padding: 0.8em;
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .hambugerBtn a {
    text-decoration: none;
    color: rgba(45, 49, 66, 1);
  }
  
  .hambugerBtn span:nth-child(1) {
    display: block;
  }
  .hambugerBtn span:nth-child(2) {
    display: none;
  }
  
  .hambugerBtn.responsive span:nth-child(1) {
    display: none;
  }
  .hambugerBtn.responsive span:nth-child(2) {
    display: block;
  }
  
  .responsive li {
    display: block;
  }
  /* End Hamburger button */
  
 