@media screen and (min-width: 760px) {
  .home {
    grid-template-columns: 1fr 1fr 1fr 275px;
  }
  .firstCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .statisticsMadera{
    grid-template-columns: 1fr 35%;
  }
  .home,.statisticsMadera,
  .heading,
  .footer,.join-page,.thank-you,
  main {
    margin: 10px auto;
    
  }
  .home,.join-page,.thank-you,.statisticsMadera{
    max-width: 70em;
  }
  nav {
    width: 100%;
  }
  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
    align-items: center;
  }
 
  .logoBox h1 {
    font-size: 1.2em;
  }
  .heading {
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
     }

  .logoBox {
    padding-right: 2.5em;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1;
  }

  .ham, .hambugerBtn {
    display: none;
  }

 /*--- form styling--- */
 .join-page,
  .contact-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  .member-small {
    display: none;
  }
 .member img{
   margin-right: 25px;
 }
  .membership-levels,
  .chamber-info {
    margin: 0.75rem auto;
    display: block;
    width: 95%;
  }

  /* --- form styling end --- */
  .dir-list>.directoryBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .no-show {
    padding: 0.75rem;
    display: block;
  }

  .list-pad{
    padding: 0.75rem;

  }

  .assignmentFooter p:nth-child(4) {
    display: inline;
  }

  .footer {
    justify-content: space-around;
  }

  .spotlightBox:nth-child(3) {
    display: initial;
  }

  .hero {
    grid-column: 2/4;
    grid-row: 1/3;
    position: relative;
    background-image: url("../images/MaderaSky.jpg");
    background-size: cover;
    background-position: right;
    height: auto;
    }
  .population{
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .news {
    grid-row: 3/4;
    grid-column: 2/4;
  }

  .spotlight {
    grid-row: 1/4;
    grid-column: 4/5;
    flex-direction: column;
  }

  .spotlight img {
    width: 100%;
  }
  .spot3 {
    display: block;
  }
  .join {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .event {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .weather {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}