/* @charset"UTF-8"; */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Oswald, serif;
    color: #2d3142;
    margin: 0;
    padding: 0.75rem;
  }

header,
main,
footer {
      max-width: 780px;
      margin: 0 auto;
  } 

header,
footer {
    background-color: rgb(111, 206, 220);
    flex-flow: column;
    padding: 0.5rem;
    text-align: center;
  }
  footer{
    color: #05445E;
  }
  
header {
    text-align: center;
    align-items: center;
  }
  
nav{
  background-color: #D4F1F4;
  margin: 0 auto;
	max-width: 780px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 90%);
}  

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin: 16px;
    list-style-type: none; 
  }
  
nav a {
    /* text-decoration: none;
    display: block;
    text-align: center; */
    color: #05445E;
    /* padding: 0.75rem;
    font-size: .95rem; */
  }
  
nav a:hover {
    color:rgb(2, 28, 41);
    background-color: white;
  }

nav ul li a {
	display: block;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem; 
}
.oswald{
  font-family: Oswald, serif;
}
.active {
	color: rgb(2, 28, 41);
} 

img {
    width: 50%;
    height: auto;
    padding: .75rem;
  }
  
h2 {
    background-color: white; 
  }
  
div {
    width: 50%;
  }
  
p {
    padding: 0.75rem;
    margin: 0;
    color:#05445E;
  }
  
section ul {
    margin: 0;
    padding: 0.75rem 0.75rem 0.75rem 2rem;
  }

table {
    padding-bottom: .5rem;
    display: inline-table;
}
.colors {
    width: 100%;
    margin: auto;
    text-align: center;
  }
:root {
    --primary-color: #6FCEDC ;
    --secondary-color: #05445e;
    --accent1-color: #99999;
    --accent2-color: #D4F1F4;
  }

.colors th {
    background-color: #999;
    color:black;
  }

.colors td{
    width: 25%;
    height: 3em;
  }
td.accent1{
  color: #05445E;
} 
td.secondary{
  color:  white;
}
td.primary{
  color: rgb(0,0,0);
}
td.accent2{
  color: black;
}
.primary {
    background-color: var(--primary-color);
    color:white
  }
.secondary {
    background-color: var(--secondary-color);
    color: white;
  }
.accent1 {
    background-color: var(--accent1-color);
  }
.accent2{
    background-color: var(--accent2-color);
  }
  
p.colored {
    background-color: var(--text-background-color);
    color: var(--paragraph-color-on-color);
  }