body {
    font-family: "Oswald", serif;
    margin:  3rem auto;
    max-width: 30em;
    padding: 0 0.5rem;
    text-align: center;
}
h1 {
    background-color: #A2E0E8;
    padding: 0.5rem;
    margin: 0.5rem;
}

h2 {
    text-transform: uppercase;
}

hr{
    border: 0;
    height: 3px;
    background: #05445E; 
    margin-top: 0;
}

#icon-src {
    font-family: monospace;
    font-size: 1rem;
}

figcaption {
    color: #05445E;
}

.page {
    max-width: 500px;
    margin: 2rem auto;
}

.display {
    margin: 1rem 0 1rem 0.5rem;
}

a:visited, a:active, a:required, a:hover {
    color: #05445E;
  }

.box {
    margin: 1rem 0;
    border:  1px solid #189AB4;
    padding: 0.5rem;
    background-color: #A2E0E8;
}

.codetext {
    font-family:  "Oswald", serif;   
}

#events {
    list-style: none;
}